In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [4]:
s1 = Series(range(0,4))
s2 = Series(range(1,5))
s3 = s1 + s2
s4 = Series(['a', 'b'])*3
print 's1: \n', s1
print 's2: \n', s2
print 's3: \n', s3
print 's4: \n', s4
#Series object: an ordered, 1-D array of data w/an index. All the data in a Series is of the same data type. Series 
#arithmetic is vectorise after 1st aligning the Series index for each of the operands

s1:
0    0
1    1
2    2
3    3
dtype: int64
s2:
0    1
1    2
2    3
3    4
dtype: int64
s3:
0    1
1    3
2    5
3    7
dtype: int64
s4:
0    aaa
1    bbb
dtype: object

In [6]:
#data in series then combine into a DataFrame
s1 = Series(range(6))
s2 = s1 * s1
s2.index = s2.index + 2 #misaligned indexes
df = pd.concat([s1, s2], axis=1)
df

     0     1
0  0.0   NaN
1  1.0   NaN
2  2.0   0.0
3  3.0   1.0
4  4.0   4.0
5  5.0   9.0
6  NaN  16.0
7  NaN  25.0

In [17]:
s3 = Series({'Tom': 1, 'Dick': 4, 'Harry': 9})
s4 = Series({'Tom': 3, 'Dick': 2, 'Mary': 11})
df = pd.concat({'A': s3, 'B': s4}, axis=1) #axis = 1 --> A & B become column headers
df1 = pd.concat({'A': s3, 'B': s4}, axis=0) #axis = 0 --> A & B become row indexes
print df
print df1

         A     B
Dick   4.0   2.0
Harry  9.0   NaN
Mary   NaN  11.0
Tom    1.0   3.0
A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
dtype: int64

In [14]:
#get a DataFrame from a Python Dictionary
#default - assume your data in columns
df = DataFrame({
        'col0' : [1.0, 2.0, 3.0, 4.0],
        'col1' : [100, 200, 300, 400]
    })

#use helper method for data in rows
df = DataFrame.from_dict({ #data by row
    'row0' : {'col0': 0, 'col1':'A'},
    'row1' : {'col0': 1, 'col1':'B'}
    }, orient='index')
print df
print '>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>'
#replaces column headers of 0 & 1 with something else

df = DataFrame.from_dict({ # data by row
    'row0' : [1, 1+1j, 'A'],
    'row1' : [2, 2+2j, 'B']
    }, orient='index')
print df
#does not replace column headers, headers are generated automatically and numerically

      col0 col1
row0     0    A
row1     1    B
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
      0       1  2
row0  1  (1+1j)  A
row1  2  (2+2j)  B

### Working w/row & column indexes

In [18]:
idx = df.columns
idx
#get col indexes

Index([u'A', u'B'], dtype='object')

In [ ]:
label = df.column[0]
#1st col label

In [24]:
st = df.columns.tolist()
st
#get col names as a list

['A', 'B']

In [26]:
df.rename(columns={'A':'newA'},inplace=True)
df
#change column labels

       newA     B
Dick    4.0   2.0
Harry   9.0   NaN
Mary    NaN  11.0
Tom     1.0   3.0

In [27]:
idx = df.index
idx
#get row index

Index([u'Dick', u'Harry', u'Mary', u'Tom'], dtype='object')

In [29]:
label = df.index[0]
label
#get the 1st row label

'Dick'

In [30]:
lst = df.index.tolist()
lst
#get indexes as a list

['Dick', 'Harry', 'Mary', 'Tom']

In [31]:
df.index = idx
df.index = range(len(df))
df = df.reset_index()
df
#replace old w/new, note: old index stored as a col in df

   index  newA     B
0      0   4.0   2.0
1      1   9.0   NaN
2      2   NaN  11.0
3      3   1.0   3.0

In [37]:
i = df.index.get_loc(0)
i
#get the integer position of a row index label

0

In [39]:
df.sort_index(inplace=True)
df
#sort df by its rows

   index  newA     B
0      0   4.0   2.0
1      1   9.0   NaN
2      2   NaN  11.0
3      3   1.0   3.0

In [40]:
df.sort_index(axis=1)
df
#sort df by its cols

   index  newA     B
0      0   4.0   2.0
1      1   9.0   NaN
2      2   NaN  11.0
3      3   1.0   3.0

In [41]:
#test if the index values ae unique/monotonic
if df.index.is_unique: pass #do something
if df.columns.is_unique: pass #do something
if df.index.is_monotonic: pass # do something
if df.columns.is_monotonic: pass #do something
#for a monotonic index, each element is greater or equal to the previous element

In [44]:
#drop duplicates in the row index
df['index'] = df.index #1. create new col
print df
df = df.drop_duplicates('index', take_last=True) #2. use new col
print df
del df['index'] #3. del the col
print df
df.sort_index(inplace=True) #4. tidy up
print df

   index  newA     B
0      0   4.0   2.0
1      1   9.0   NaN
2      2   NaN  11.0
3      3   1.0   3.0
   index  newA     B
0      0   4.0   2.0
1      1   9.0   NaN
2      2   NaN  11.0
3      3   1.0   3.0
   newA     B
0   4.0   2.0
1   9.0   NaN
2   NaN  11.0
3   1.0   3.0
   newA     B
0   4.0   2.0
1   9.0   NaN
2   NaN  11.0
3   1.0   3.0

/home/orysya/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead

In [46]:
#test if 2 dataframes/series have same index
len(a) == len(b) and all(a.index == b.index)

### Working w/columns of data (axis=1)

In [49]:
s = df['newA'] #select column by name
print s
d = df[['newA', 'B']] #select 2+ cols
print d
c = df[['B', 'newA']] #change column order
print c
f = df[df.columns[0]] #select col by num
print f

0    4.0
1    9.0
2    NaN
3    1.0
Name: newA, dtype: float64
   newA     B
0   4.0   2.0
1   9.0   NaN
2   NaN  11.0
3   1.0   3.0
      B  newA
0   2.0   4.0
1   NaN   9.0
2  11.0   NaN
3   3.0   1.0
0    4.0
1    9.0
2    NaN
3    1.0
Name: newA, dtype: float64

In [51]:
s = df.newA #same as s = df['a]
print s
df['existing_col'] = df.newA + df.B #cannot create new columns by attribute 
print df
#column names must be valid identifiers

0    4.0
1    9.0
2    NaN
3    1.0
Name: newA, dtype: float64
   newA     B  existing_col
0   4.0   2.0           6.0
1   9.0   NaN           NaN
2   NaN  11.0           NaN
3   1.0   3.0           4.0

In [52]:
df['new_col'] = range(len(df)) #ie. index
print df
df['new_col1'] = np.repeat(np.nan, len(df)) #just a column of NaNs
print df
df['new_col2'] = np.random.rand(len(df)) #a list of random numbers
print df
df['index_as_col'] = df.index #indexes into column
print df

   newA     B  existing_col  new_col
0   4.0   2.0           6.0        0
1   9.0   NaN           NaN        1
2   NaN  11.0           NaN        2
3   1.0   3.0           4.0        3
   newA     B  existing_col  new_col  new_col1
0   4.0   2.0           6.0        0       NaN
1   9.0   NaN           NaN        1       NaN
2   NaN  11.0           NaN        2       NaN
3   1.0   3.0           4.0        3       NaN
   newA     B  existing_col  new_col  new_col1  new_col2
0   4.0   2.0           6.0        0       NaN  0.266016
1   9.0   NaN           NaN        1       NaN  0.453079
2   NaN  11.0           NaN        2       NaN  0.299152
3   1.0   3.0           4.0        3       NaN  0.067527
   newA     B  existing_col  new_col  new_col1  new_col2  index_as_col
0   4.0   2.0           6.0        0       NaN  0.266016             0
1   9.0   NaN           NaN        1       NaN  0.453079             1
2   NaN  11.0           NaN        2       NaN  0.299152             2
3   1.0   3.0           4.0        3       NaN  0.067527             3

In [53]:
#dropping columns (by label)
df = df.drop('index_as_col', axis=1)
print df
df.drop('new_col2', axis=1, inplace=True)
print df
df.drop(['new_col', 'new_col1'], axis=1)
print df
del df['existing_col']
print df

   newA     B  existing_col  new_col  new_col1  new_col2
0   4.0   2.0           6.0        0       NaN  0.266016
1   9.0   NaN           NaN        1       NaN  0.453079
2   NaN  11.0           NaN        2       NaN  0.299152
3   1.0   3.0           4.0        3       NaN  0.067527
   newA     B  existing_col  new_col  new_col1
0   4.0   2.0           6.0        0       NaN
1   9.0   NaN           NaN        1       NaN
2   NaN  11.0           NaN        2       NaN
3   1.0   3.0           4.0        3       NaN
   newA     B  existing_col  new_col  new_col1
0   4.0   2.0           6.0        0       NaN
1   9.0   NaN           NaN        1       NaN
2   NaN  11.0           NaN        2       NaN
3   1.0   3.0           4.0        3       NaN
   newA     B  new_col  new_col1
0   4.0   2.0        0       NaN
1   9.0   NaN        1       NaN
2   NaN  11.0        2       NaN
3   1.0   3.0        3       NaN

In [54]:
#select columns with .loc, .iloc, and .ix
a = df.loc[:, 'newA': 'new_col'] #inclusive "to"
print a
b = df.iloc[:, 0:2] #exclusive "to
print b
#a slice of columns can be selected by label (using df.loc[rows, cols]); by integer position (using df.iloc[rowsm cols]);
#or a hybrid of the 2 (using df.ix[row, cols])
#Note: the row slice object copies all rows
#Note: for .loc, the indexes can be: a single label (ie. 'A'), a list/array of labels (ie. ['A', 'B']), a slice object of
#labels (ie. 'A':'C'), a Boolean array
#Note: for .iloc, the indexes can be a single integer (ie. 27), a list/array of integers (ie. [1,2,6]), a slice w/integers
#ie. (1:9)

   newA     B  new_col
0   4.0   2.0        0
1   9.0   NaN        1
2   NaN  11.0        2
3   1.0   3.0        3
   newA     B
0   4.0   2.0
1   9.0   NaN
2   NaN  11.0
3   1.0   3.0

In [55]:
#vectorised arithmetic on columns
df['proporation'] = df['newA'] /df['B']
print df

   newA     B  new_col  new_col1  proporation
0   4.0   2.0        0       NaN     2.000000
1   9.0   NaN        1       NaN          NaN
2   NaN  11.0        2       NaN          NaN
3   1.0   3.0        3       NaN     0.333333

In [59]:
#apply numpy mathematical fxns on cols
df['log_data'] = np.log(df['newA'])
print df
df['rounded'] = np.round(df['log_data'], 1)
print df

   newA     B  new_col  new_col1  proporation  log_data  rounded
0   4.0   2.0        0       NaN     2.000000  1.386294      4.0
1   9.0   NaN        1       NaN          NaN  2.197225      9.0
2   NaN  11.0        2       NaN          NaN       NaN      NaN
3   1.0   3.0        3       NaN     0.333333  0.000000      1.0
   newA     B  new_col  new_col1  proporation  log_data  rounded
0   4.0   2.0        0       NaN     2.000000  1.386294      1.4
1   9.0   NaN        1       NaN          NaN  2.197225      2.2
2   NaN  11.0        2       NaN          NaN       NaN      NaN
3   1.0   3.0        3       NaN     0.333333  0.000000      0.0

In [65]:
#columns value set based on criteria
df['newA'] = 4.0
df[df['B'] > 0]['newA'] = df['B']
print df
#option 1: using a mask

df['new_B'] = df['B'].where(df['B'] > 0, other=0)
print df
#option 2: using the where statement

#Note: multiple conditions can be combined using & and | with conditions in parentheses
#Note: where other can be a Series or a scalar
#NoteL ~ the boolean not operator for pandas

   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B
0   4.0   2.0        0       NaN     2.000000  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B
0   4.0   2.0        0       NaN     2.000000  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0

/home/orysya/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [66]:
#iterating oer the df cols
for (column, series) in df.iteritems():
    print column #do something
#Where column is the label and series is a pandas series that contains the column data

newA
B
new_col
new_col1
proporation
log_data
rounded
new_B

In [67]:
#Common column-wide methods/attributes
value = df['new_col'].dtype #type of data
value = df['new_col'].size #col dimensions
value = df['new_col'].count() #non-NA count
value = df['new_col'].sum()
value = df['new_col'].prod()
value = df['new_col'].min()
value = df['new_col'].max()
value = df['new_col'].mean()
value = df['new_col'].median()
value = df['new_col'].cov(df['new_B'])
value = df['new_col'].describe()
value = df['new_col'].value_counts()

In [73]:
#Fiind index for min/max values in column
value = df['B'].idxmin() #returns label
print value
values = df['B'].idxmax()
print values

0
2

In [ ]:
#Common element-wise methods
s = df['B'].to_datetime()
s = df['B'].isnull()
s = df['B'].notnull() #not isnull()
s = df['B'].astype('float') #type convert
s = df['B'].round(decimals=0) 
s = df['B'].diff(periods=1)
s = df['B'].shift(periods=1)
s = df['B'].fillna(0) #replace NaN with 0
s = df['B'].pct_change(periods=4)
s = df['B'].rolling_min(periods=4, window=4)
s = df['B'].rolling_max(periods=4, window=4)
s = df['B'].rolling_sum(periods=4, window=4)

In [77]:
#Append a column of row total to a df
df['Total'] = df.sum(axis=1)
print df
#Note: can do row means, mins, maxs, etc. in a similar manner

df['New'] = df.sum(axis=0)
print df

   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0   2.0        0       NaN     2.000000  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0

       Total
0  12.786294
1   9.397225
2  28.000000
3  13.333333
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0   2.0        0       NaN     2.000000  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0

       Total  New
0  12.786294  NaN
1   9.397225  NaN
2  28.000000  NaN
3  13.333333  NaN

In [78]:
#Group by a column
s = df.groupby('B')['proporation'].sum()
print s
sd = df.groupby('B').sum()
print sd

B
2.0     2.000000
3.0     0.333333
11.0         NaN
Name: proporation, dtype: float64
      newA  new_col  new_col1  proporation  log_data  rounded  new_B  \
B
2.0    4.0        0       NaN     2.000000  1.386294      1.4    2.0
3.0    4.0        3       NaN     0.333333  0.000000      0.0    3.0
11.0   4.0        2       NaN          NaN       NaN      NaN   11.0

          Total  New
B
2.0   12.786294  NaN
3.0   13.333333  NaN
11.0  28.000000  NaN

In [79]:
#Group by a row index (non-hierarchical index)
dj = df.set_index(keys='rounded')
print dj
s = dj.groupby(level=0)['B'].sum()
print s
djs = dj.groupby(level=0).sum()
print djs

         newA     B  new_col  new_col1  proporation  log_data  new_B  \
rounded
 1.4      4.0   2.0        0       NaN     2.000000  1.386294    2.0
 2.2      4.0   NaN        1       NaN          NaN  2.197225    0.0
NaN       4.0  11.0        2       NaN          NaN       NaN   11.0
 0.0      4.0   3.0        3       NaN     0.333333  0.000000    3.0

             Total  New
rounded
 1.4     12.786294  NaN
 2.2      9.397225  NaN
NaN      28.000000  NaN
 0.0     13.333333  NaN
rounded
0.0    3.0
1.4    2.0
2.2    NaN
Name: B, dtype: float64
         newA    B  new_col  new_col1  proporation  log_data  new_B  \
rounded
0.0       4.0  3.0        3       NaN     0.333333  0.000000    3.0
1.4       4.0  2.0        0       NaN     2.000000  1.386294    2.0
2.2       4.0  NaN        1       NaN          NaN  2.197225    0.0

             Total  New
rounded
0.0      13.333333  NaN
1.4      12.786294  NaN
2.2       9.397225  NaN

### Working w/rows (axis=0)

In [83]:
df

,newA,B,new_col,new_col1,proporation,log_data,rounded,new_B,Total,New
0,4.0,2.0,0,NaN,2.000000,1.386294,1.4,2.0,12.786294,NaN
1,4.0,NaN,1,NaN,NaN,2.197225,2.2,0.0,9.397225,NaN
2,4.0,11.0,2,NaN,NaN,NaN,NaN,11.0,28.000000,NaN
3,4.0,3.0,3,NaN,0.333333,0.000000,0.0,3.0,13.333333,NaN

In [ ]:
#adding rows
df = df1.append(more_rows_in_df)
#Hint: convert to a df & then append. Both dfs should have col labels

In [82]:
#dropping rows (by name)
df = df.drop('row_label')
df = df.drop(['row1', 'row2'])

In [85]:
#Boolean row selection by values in a column
a = df[df['new_col'] >= 1]
print a
a = df[(df['new_col'] >= 1) | (df['proporation'] < 0.0)]
print a
a = df[df['log_data'].isin([0])]
print a
a = df[~df['log_data'].isin([0])]
print a
#a = df[df['newA'].str.contains('hello')]
#print a

#Trap: bitwise "or" and "and" co-opted to be Boolean operators on a Series of Boolean --> also note parentheses around
#comparisons

   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0

       Total  New
1   9.397225  NaN
2  28.000000  NaN
3  13.333333  NaN
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0

       Total  New
1   9.397225  NaN
2  28.000000  NaN
3  13.333333  NaN
   newA    B  new_col  new_col1  proporation  log_data  rounded  new_B  \
3   4.0  3.0        3       NaN     0.333333       0.0      0.0    3.0

       Total  New
3  13.333333  NaN
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0   2.0        0       NaN          2.0  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0

       Total  New
0  12.786294  NaN
1   9.397225  NaN
2  28.000000  NaN

In [86]:
#Select a slice of rows by integer position
# [inclusive-from : exclusive-to]
# [inclusive-from : exclusive-to : step]
#default start is 0; default end is len(df)
a = df[:] #copy df
print a
a = df[0:2] # rows 0 & 1
print a
a = df[-1:] #the last row
print a
a = df[2:3] #row 2 (the 3rd row)
print a
a = df[:-1] #all but the last row
print a
a = df[::2] #every 2nd row (0 2 ...)
print a

#Trap: a single integer w/o a colon is a column index for numbered columns

   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0   2.0        0       NaN     2.000000  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0
3   4.0   3.0        3       NaN     0.333333  0.000000      0.0    3.0

       Total  New
0  12.786294  NaN
1   9.397225  NaN
2  28.000000  NaN
3  13.333333  NaN
   newA    B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0  2.0        0       NaN          2.0  1.386294      1.4    2.0
1   4.0  NaN        1       NaN          NaN  2.197225      2.2    0.0

       Total  New
0  12.786294  NaN
1   9.397225  NaN
   newA    B  new_col  new_col1  proporation  log_data  rounded  new_B  \
3   4.0  3.0        3       NaN     0.333333       0.0      0.0    3.0

       Total  New
3  13.333333  NaN
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0

   Total  New
2   28.0  NaN
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0   2.0        0       NaN          2.0  1.386294      1.4    2.0
1   4.0   NaN        1       NaN          NaN  2.197225      2.2    0.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0

       Total  New
0  12.786294  NaN
1   9.397225  NaN
2  28.000000  NaN
   newA     B  new_col  new_col1  proporation  log_data  rounded  new_B  \
0   4.0   2.0        0       NaN          2.0  1.386294      1.4    2.0
2   4.0  11.0        2       NaN          NaN       NaN      NaN   11.0

       Total  New
0  12.786294  NaN
2  28.000000  NaN

In [87]:
#Select a slice of rows by label/index
# [inclusive-from : inclusive-to [ : step]]
#a = df['a':'c'] #rows a through c

#Trap: doesn't work on integer labelled rows

In [92]:
#Append a row of column total to a df
#option 1: using a dictionary comprehension
sums = {col: df['new_col'].sum() for col in df}
print sums
sums_df = DataFrame(sums, index=['Total'])
print sums_df
df = df.append(sums_df)
print df

#option 2: all done with pandas
#df = df.append(DataFrame(df.sum(), columns= 'Cools').T) #.T is transpose
#print df

{'B': 48, 'rounded': 48, 'new_col1': 48, 'newA': 48, 'proporation': 48, 'log_data': 48, 'new_B': 48, 'new_col': 48, 'New': 48, 'Total': 48}
        B  New  Total  log_data  newA  new_B  new_col  new_col1  proporation  \
Total  48   48     48        48    48     48       48        48           48

       rounded
Total       48
          B   New      Total   log_data  newA  new_B  new_col  new_col1  \
0       2.0   NaN  12.786294   1.386294   4.0    2.0        0       NaN
1       NaN   NaN   9.397225   2.197225   4.0    0.0        1       NaN
2      11.0   NaN  28.000000        NaN   4.0   11.0        2       NaN
3       3.0   NaN  13.333333   0.000000   4.0    3.0        3       NaN
Total   6.0   6.0   6.000000   6.000000   6.0    6.0        6       6.0
Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12      12.0
Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24      24.0
Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48      48.0

       proporation  rounded
0         2.000000      1.4
1              NaN      2.2
2              NaN      NaN
3         0.333333      0.0
Total     6.000000      6.0
Total    12.000000     12.0
Total    24.000000     24.0
Total    48.000000     48.0

In [96]:
#Iterating over df rows
for (index, row) in df.iterrows():
    print index

#Trap: row data type may be coerced

0
1
2
3
Total
Total
Total
Total

In [97]:
df

,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
0,2.0,NaN,12.786294,1.386294,4.0,2.0,0,NaN,2.000000,1.4
1,NaN,NaN,9.397225,2.197225,4.0,0.0,1,NaN,NaN,2.2
2,11.0,NaN,28.000000,NaN,4.0,11.0,2,NaN,NaN,NaN
3,3.0,NaN,13.333333,0.000000,4.0,3.0,3,NaN,0.333333,0.0
Total,6.0,6.0,6.000000,6.000000,6.0,6.0,6,6.0,6.000000,6.0
Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0
Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0
Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0

In [101]:
#Sorting df rows by column values
a = df.sort(df.columns[0], ascending=False)
print a
df.sort_values(by=['B', 'New'], inplace=True)
df

          B   New      Total   log_data  newA  new_B  new_col  new_col1  \
Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48      48.0
Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24      24.0
Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12      12.0
2      11.0   NaN  28.000000        NaN   4.0   11.0        2       NaN
Total   6.0   6.0   6.000000   6.000000   6.0    6.0        6       6.0
3       3.0   NaN  13.333333   0.000000   4.0    3.0        3       NaN
0       2.0   NaN  12.786294   1.386294   4.0    2.0        0       NaN
1       NaN   NaN   9.397225   2.197225   4.0    0.0        1       NaN

       proporation  rounded
Total    48.000000     48.0
Total    24.000000     24.0
Total    12.000000     12.0
2              NaN      NaN
Total     6.000000      6.0
3         0.333333      0.0
0         2.000000      1.4
1              NaN      2.2

/home/orysya/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
0,2.0,NaN,12.786294,1.386294,4.0,2.0,0,NaN,2.000000,1.4
3,3.0,NaN,13.333333,0.000000,4.0,3.0,3,NaN,0.333333,0.0
Total,6.0,6.0,6.000000,6.000000,6.0,6.0,6,6.0,6.000000,6.0
2,11.0,NaN,28.000000,NaN,4.0,11.0,2,NaN,NaN,NaN
Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0
Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0
Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0
1,NaN,NaN,9.397225,2.197225,4.0,0.0,1,NaN,NaN,2.2

In [103]:
#Remember!
w = df['B'] #a selected column
print w
x = df[['B', 'New']] #selected columns
print x
#y = df['Total':'Total'] #selected rows
#print y
z = df[1:4] #where i & j are ints, -> rows
print z

0         2.0
3         3.0
Total     6.0
2        11.0
Total    12.0
Total    24.0
Total    48.0
1         NaN
Name: B, dtype: float64
          B   New
0       2.0   NaN
3       3.0   NaN
Total   6.0   6.0
2      11.0   NaN
Total  12.0  12.0
Total  24.0  24.0
Total  48.0  48.0
1       NaN   NaN
          B  New      Total  log_data  newA  new_B  new_col  new_col1  \
3       3.0  NaN  13.333333       0.0   4.0    3.0        3       NaN
Total   6.0  6.0   6.000000       6.0   6.0    6.0        6       6.0
2      11.0  NaN  28.000000       NaN   4.0   11.0        2       NaN

       proporation  rounded
3         0.333333      0.0
Total     6.000000      6.0
2              NaN      NaN

### Working with cells

In [105]:
#selecting a cell by row & column labels
value = df.at['Total', 'B'] #value = df.at['row', 'col']
print '1', value
value = df.loc['Total', 'B'] #value = df.loc['row', 'col']
print '2', value
value = df['B']['Total'] #tricky -> value = df['col]['row]
print '3', value

#Note: .at[] fastest label based scalar lookup

1 [  6.  12.  24.  48.]
2 Total     6.0
Total    12.0
Total    24.0
Total    48.0
Name: B, dtype: float64
3 Total     6.0
Total    12.0
Total    24.0
Total    48.0
Name: B, dtype: float64

In [107]:
#Setting a cell by row & column labels
df.at['Total', 'B'] = value #df.at['row', 'col'] = value
print value
#df.loc['Total', 'B'] = value #df.loc['row', 'col'] = value
#print value
df['B']['Total'] = value #df['col]['row] = value
print value

Total     6.0
Total    12.0
Total    24.0
Total    48.0
Name: B, dtype: float64
Total     6.0
Total    12.0
Total    24.0
Total    48.0
Name: B, dtype: float64

/home/orysya/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [116]:
df = df.reset_index()
df

,index,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
0,0,2.0,NaN,12.786294,1.386294,4.0,2.0,0,NaN,2.000000,1.4
1,3,3.0,NaN,13.333333,0.000000,4.0,3.0,3,NaN,0.333333,0.0
2,Total,6.0,6.0,6.000000,6.000000,6.0,6.0,6,6.0,6.000000,6.0
3,2,11.0,NaN,28.000000,NaN,4.0,11.0,2,NaN,NaN,NaN
4,Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0
5,Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0
6,Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0
7,1,NaN,NaN,9.397225,2.197225,4.0,0.0,1,NaN,NaN,2.2

In [111]:
#Selecting and slicing on labels
#a = df.loc['Total':'Total', 'B': 'log_data']
#print a

#Note: the "to" on this slice is inclusive

In [119]:
#Setting a cross-section by labels
#df.loc['A:'C', 'col1':'col2] = np.nan
df.loc[1:2, 'index':'B'] = np.zeros((2,2))
print df
#df.loc[1:2, 'index':'B'] = other.loc[1:2, 'A':'C']
#print df

#Remember: inclusive from:to in the slice

   index     B   New      Total   log_data  newA  new_B  new_col  new_col1  \
0      0   2.0   NaN  12.786294   1.386294   4.0    2.0        0       NaN
1      0   0.0   NaN  13.333333   0.000000   4.0    3.0        3       NaN
2      0   0.0   6.0   6.000000   6.000000   6.0    6.0        6       6.0
3      2  11.0   NaN  28.000000        NaN   4.0   11.0        2       NaN
4  Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12      12.0
5  Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24      24.0
6  Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48      48.0
7      1   NaN   NaN   9.397225   2.197225   4.0    0.0        1       NaN

   proporation  rounded
0     2.000000      1.4
1     0.333333      0.0
2     6.000000      6.0
3          NaN      NaN
4    12.000000     12.0
5    24.000000     24.0
6    48.000000     48.0
7          NaN      2.2

In [120]:
#Selecting a cell by integer position
value = df.iat[3,3] #[row, col]
print value
value = df.iloc[0,0] #[row, col]
print value
value = df.iloc[len(df)-1, len(df.columns)-1]
print value

28.0
0
2.2

In [121]:
#Selecting a range of cells by int position
a = df.iloc[2:4, 2:4] #a subset pf tje df
print a
a = df.iloc[:5, :5] #top left corner
print a
a = df.iloc[5, :] #returns row as Series
print a
a = df.iloc[5:6, :] #returns row as a row
print a

#Note: exclusive "to" - same as list slicing

   New  Total
2  6.0    6.0
3  NaN   28.0
   index     B   New      Total   log_data
0      0   2.0   NaN  12.786294   1.386294
1      0   0.0   NaN  13.333333   0.000000
2      0   0.0   6.0   6.000000   6.000000
3      2  11.0   NaN  28.000000        NaN
4  Total  12.0  12.0  12.000000  12.000000
index          Total
B                 24
New               24
Total             24
log_data          24
newA              24
new_B             24
new_col           24
new_col1          24
proporation       24
rounded           24
Name: 5, dtype: object
   index     B   New  Total  log_data  newA  new_B  new_col  new_col1  \
5  Total  24.0  24.0   24.0      24.0  24.0   24.0       24      24.0

   proporation  rounded
5         24.0     24.0

In [122]:
#Setting cell by integer position
df.iloc[0,0] = 5 #[row, col]
df
df.iat[0,1] = 222 
df

,index,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
0,5,222.0,NaN,12.786294,1.386294,4.0,2.0,0,NaN,2.000000,1.4
1,0,0.0,NaN,13.333333,0.000000,4.0,3.0,3,NaN,0.333333,0.0
2,0,0.0,6.0,6.000000,6.000000,6.0,6.0,6,6.0,6.000000,6.0
3,2,11.0,NaN,28.000000,NaN,4.0,11.0,2,NaN,NaN,NaN
4,Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0
5,Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0
6,Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0
7,1,NaN,NaN,9.397225,2.197225,4.0,0.0,1,NaN,NaN,2.2

In [123]:
#Setting cell range by integer position
df.iloc[0:3, 0:2] = 4
df.iloc[1:3, 4:7] = np.ones((2,3))
df

#Remember: exclusive from:to in the slice

,index,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
0,4,4.0,NaN,12.786294,1.386294,4.0,2.0,0,NaN,2.000000,1.4
1,4,4.0,NaN,13.333333,1.000000,1.0,1.0,3,NaN,0.333333,0.0
2,4,4.0,6.0,6.000000,1.000000,1.0,1.0,6,6.0,6.000000,6.0
3,2,11.0,NaN,28.000000,NaN,4.0,11.0,2,NaN,NaN,NaN
4,Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0
5,Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0
6,Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0
7,1,NaN,NaN,9.397225,2.197225,4.0,0.0,1,NaN,NaN,2.2

In [124]:
#Operate on the whole df
#replace np.nan w/0
df.fillna(0, inplace=True)
#replace white space with np.nan
df = df.replace(r'\s+', np.nan, regex=True)
df

#Views & copies
#From the manual: the rules abt when a view on the data is returned are dependent on NumPy. Whenever an array of labels or
#a boolean vector are involved in the indexing operation, the result will be a copy. A single label/scalar indexing &
#slicing, e.g. df.ix[3:6] or df.ix[:,'A'], returns a view

,index,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
0,4,4.0,0.0,12.786294,1.386294,4.0,2.0,0,0.0,2.000000,1.4
1,4,4.0,0.0,13.333333,1.000000,1.0,1.0,3,0.0,0.333333,0.0
2,4,4.0,6.0,6.000000,1.000000,1.0,1.0,6,6.0,6.000000,6.0
3,2,11.0,0.0,28.000000,0.000000,4.0,11.0,2,0.0,0.000000,0.0
4,Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0
5,Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0
6,Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0
7,1,0.0,0.0,9.397225,2.197225,4.0,0.0,1,0.0,0.000000,2.2

### Joining/Combining DataFrames

In [125]:
#3 ways to join 2 DFs:
# merge (a df/SQL-like join operation)
# concat (stack side by side or stack 1 on top of the other)
# combine_first (splice the 2 together, choosing values from 1 over the other)

In [129]:
#Merge on indexes
#df_new = pd.merge(left=df1, right=df1, how='outer', left_index=True, right_index=True)
#df_new

#How: 'left', 'right', 'outer', 'inner'
#How: outer=union/all; inner=intersection

In [130]:
#Merge on columns
#df_new = pd.merge(left=df1, right=df2, how='left', left_on='col1', right_on='col2')

#Trap: When joining on columns, the indexes on the passed dfs are ignored
#Trap: many-to-many merges on a column can result in an explosion of associated data

In [131]:
#Join on indexes (another way of merging)
#df_new = df1.join(other=df2, on='col1', how='outer')
#df_new = df1.join(other=df2, on=['a', 'b'], how='outer')

#Note: DataFrame.join() joins on indexes by default. DataFrame.merge() joins on common columns by default

In [134]:
#Simple concatenation is often the best
a = pd.concat([df1, df1], axis=0) #top/bottom
print a
a = df1.append([df1, df1]) #top/bottom
print a
a = pd.concat([df1, df1], axis=1) #left/right
print a

#Trap: can end up w/duplicate rows/cols
#Note: concat has an ignore_index parameter

A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
dtype: int64
A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
dtype: int64
          0   1
A Dick    4   4
  Harry   9   9
  Tom     1   1
B Dick    2   2
  Mary   11  11
  Tom     3   3

In [136]:
#Combine first
a = df1.combine_first(other=df1)
print a
a = reduce(lambda x, y: x.combine_first(y), [df1, df1])
print a

#Uses the non-null values from df1. The index of the combined DataFrame will be the union of the indexes from df1 & df12

A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
dtype: int64
A  Dick      4
   Harry     9
   Tom       1
B  Dick      2
   Mary     11
   Tom       3
dtype: int64

### Working w/the whole DataFrame

In [137]:
#Peek at the DataFrame
summary_df = df.describe()
print summary_df
head_df = df.head()
print head_df
tail_df = df.tail()
print tail_df
top_left_corner_df = df.iloc[:5, :5]
top_left_corner_df

               B        New      Total   log_data       newA      new_B  \
count   8.000000   8.000000   8.000000   8.000000   8.000000   8.000000
mean   13.375000  11.250000  19.189607  11.197940  12.250000  12.375000
std    15.864943  17.102631  13.771850  17.027703  16.359794  16.586892
min     0.000000   0.000000   6.000000   0.000000   1.000000   0.000000
25%     4.000000   0.000000  11.349306   1.000000   3.250000   1.000000
50%     7.500000   3.000000  13.059814   1.791759   4.000000   6.500000
75%    15.000000  15.000000  25.000000  15.000000  15.000000  15.000000
max    48.000000  48.000000  48.000000  48.000000  48.000000  48.000000

         new_col   new_col1  proporation    rounded
count   8.000000   8.000000     8.000000   8.000000
mean   12.000000  11.250000    11.541667  11.700000
std    16.570197  17.102631    16.896452  16.782985
min     0.000000   0.000000     0.000000   0.000000
25%     1.750000   0.000000     0.250000   1.050000
50%     4.500000   3.000000     4.000000   4.100000
75%    15.000000  15.000000    15.000000  15.000000
max    48.000000  48.000000    48.000000  48.000000
   index     B   New      Total   log_data  newA  new_B  new_col  new_col1  \
0      4   4.0   0.0  12.786294   1.386294   4.0    2.0        0       0.0
1      4   4.0   0.0  13.333333   1.000000   1.0    1.0        3       0.0
2      4   4.0   6.0   6.000000   1.000000   1.0    1.0        6       6.0
3      2  11.0   0.0  28.000000   0.000000   4.0   11.0        2       0.0
4  Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12      12.0

   proporation  rounded
0     2.000000      1.4
1     0.333333      0.0
2     6.000000      6.0
3     0.000000      0.0
4    12.000000     12.0
   index     B   New      Total   log_data  newA  new_B  new_col  new_col1  \
3      2  11.0   0.0  28.000000   0.000000   4.0   11.0        2       0.0
4  Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12      12.0
5  Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24      24.0
6  Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48      48.0
7      1   0.0   0.0   9.397225   2.197225   4.0    0.0        1       0.0

   proporation  rounded
3          0.0      0.0
4         12.0     12.0
5         24.0     24.0
6         48.0     48.0
7          0.0      2.2

   index     B   New      Total   log_data
0      4   4.0   0.0  12.786294   1.386294
1      4   4.0   0.0  13.333333   1.000000
2      4   4.0   6.0   6.000000   1.000000
3      2  11.0   0.0  28.000000   0.000000
4  Total  12.0  12.0  12.000000  12.000000

In [138]:
#Other useful
a = df.T #transpose rows & columns
print a
df2 = df.copy()
print df2

                   0         1  2   3      4      5      6        7
index              4         4  4   2  Total  Total  Total        1
B                  4         4  4  11     12     24     48        0
New                0         0  6   0     12     24     48        0
Total        12.7863   13.3333  6  28     12     24     48  9.39722
log_data     1.38629         1  1   0     12     24     48  2.19722
newA               4         1  1   4     12     24     48        4
new_B              2         1  1  11     12     24     48        0
new_col            0         3  6   2     12     24     48        1
new_col1           0         0  6   0     12     24     48        0
proporation        2  0.333333  6   0     12     24     48        0
rounded          1.4         0  6   0     12     24     48      2.2
   index     B   New      Total   log_data  newA  new_B  new_col  new_col1  \
0      4   4.0   0.0  12.786294   1.386294   4.0    2.0        0       0.0
1      4   4.0   0.0  13.333333   1.000000   1.0    1.0        3       0.0
2      4   4.0   6.0   6.000000   1.000000   1.0    1.0        6       6.0
3      2  11.0   0.0  28.000000   0.000000   4.0   11.0        2       0.0
4  Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12      12.0
5  Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24      24.0
6  Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48      48.0
7      1   0.0   0.0   9.397225   2.197225   4.0    0.0        1       0.0

   proporation  rounded
0     2.000000      1.4
1     0.333333      0.0
2     6.000000      6.0
3     0.000000      0.0
4    12.000000     12.0
5    24.000000     24.0
6    48.000000     48.0
7     0.000000      2.2

### Working with dates, times and their indexes

In [139]:
#Dates & time -points & spans
#W/its focus on time-series data, pandas provides a suite of tools for managing dates & time: either as a point in time
#(a Timestamp) or as a span of time (a Period)
timestamp = pd.Timestamp('2013-01-01')
print timestamp
period = pd.Period('2013-01-01', freq='M')
print period

2013-01-01 00:00:00
2013-01

In [140]:
#Dates & time -stamps & spans as indexes. An index of Timestamps is a DatetimeIndex; & an index of Periods is a 
#PeriodIndex. These can be constructed as follows:
date_strs = ('2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01')
tstamp = pd.to_datetime(pd.Series(date_strs))
print tstamp
dt_idx = pd.DatetimeIndex(tstamp, freq='MS')
print dt_idx
prd_idx = pd.PeriodIndex(tstamp, freq='M')
print prd_idx
spi = Series([1,2,3,4], index=prd_idx)
print spi
sdi = Series([1,2,3,4], index=dt_idx)
print sdi
#Also: index changed through its attribute
spi.index = dt_idx #change to time stamps
print spi
spi.index = range(len(spi)) #to integers
print spi

0   2013-10-01
1   2013-11-01
2   2013-12-01
3   2014-01-01
dtype: datetime64[ns]
DatetimeIndex(['2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01'], dtype='datetime64[ns]', freq='MS')
PeriodIndex(['2013-10', '2013-11', '2013-12', '2014-01'], dtype='period[M]', freq='M')
2013-10    1
2013-11    2
2013-12    3
2014-01    4
Freq: M, dtype: int64
2013-10-01    1
2013-11-01    2
2013-12-01    3
2014-01-01    4
Freq: MS, dtype: int64
2013-10-01    1
2013-11-01    2
2013-12-01    3
2014-01-01    4
Freq: MS, dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [141]:
#From DatetimeIndex & PeriodIndex & back
spi = sdi.to_period(freq='M') #to PeriodIndex
print spi
sdi = spi.to_timestamp() #to DatetimeIndex
print sdi

#Note: from period to timestamp defaults to the point in time @ the start of the period

2013-10    1
2013-11    2
2013-12    3
2014-01    4
Freq: M, dtype: int64
2013-10-01    1
2013-11-01    2
2013-12-01    3
2014-01-01    4
Freq: MS, dtype: int64

In [142]:
#Frequency constants (not a complete list)
#U --> microsecond
#L --> millisecond
#S --> second
#T --> minute
#H --> hour
#D --> calendar day
#B --> business day
#W-{MON, TUE, ...} --> Week ending on ...
#MS --> calendar start of month
#M --> calendar end of month
#QS-{JAN, FEB, ...} --> Quarter start w/year starting (QS - December)
#Q - {JAN, FEB, ...} --> Quarter end w/year ending (Q - December)
#AS-{JAN, FEB, ...} --> Year start (AS - December)
#A-{JAN, FEB, ...} --> Year end (A - December)

In [144]:
#More examples on wotking w/dates/times
d = pd.to_datetime(['04-01-2012'], dayfirst = True) #Australian date format
print d
#t = pd.to_datetime[('2013-04-01 15:14:13.1')]
#print t

#DatetimeIndex can be converted to an array of Python native datetime.datetime objects using the to_pydatetime() method

DatetimeIndex(['2012-01-04'], dtype='datetime64[ns]', freq=None)

In [146]:
#Error handling w/dates
#first example returns string not Timestamp
#s = pd.to_datetime('2014-02-30')
#print s
#second example returns NaT (not a time)
n = pd.to_datetime('2014-02-30', coerce=True)
print n
#NaT is like NaN...tests True for isnull()
b = pd.isnull(n) #--> True
print b

NaT
True

/home/orysya/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:6: FutureWarning: the coerce=True keyword is deprecated, use errors='coerce' instead

In [147]:
#Creating date/period indexes from scratch
dt_idx = pd.DatetimeIndex(pd.date_range(start='1/1/2011', periods=12, freq='M'))
print dt_idx
p_idx = pd.period_range('1960-01-01', '2010-12-31', freq='M')
print p_idx

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31'],
              dtype='datetime64[ns]', freq='M')
PeriodIndex(['1960-01', '1960-02', '1960-03', '1960-04', '1960-05', '1960-06',
             '1960-07', '1960-08', '1960-09', '1960-10',
             ...
             '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08',
             '2010-09', '2010-10', '2010-11', '2010-12'],
            dtype='period[M]', length=612, freq='M')

In [148]:
#Row selection w/a time-series index
#play data ... start w/play data above
idx = pd.period_range('2013-01', periods=len(df), freq='M')
df.index = idx
print df

february_selector = (df.index.month == 2)
february_data = df[february_selector]
print february_data

q1_data = df[(df.index.month >= 1) & (df.index.month <= 3)] #note: & not "and"
print q1_data

mayornov_data = df[(df.index.month == 5) | (df.index.month == 11)] #note: | not "or"
print mayornov_data

annual_tot = df.groupby(df.index.year).sum()
print annual_tot

#Also: year, month, day [of month], hour, minute, second, dayofweek [Mon=0 .. Sun=6], weekofmonth, weekofyear [numbered 
#from 1], week start on Monday, dayofyear [from 1], ...
#Note: this method works w/both Series & DateFrame objects

         index     B   New      Total   log_data  newA  new_B  new_col  \
2013-01      4   4.0   0.0  12.786294   1.386294   4.0    2.0        0
2013-02      4   4.0   0.0  13.333333   1.000000   1.0    1.0        3
2013-03      4   4.0   6.0   6.000000   1.000000   1.0    1.0        6
2013-04      2  11.0   0.0  28.000000   0.000000   4.0   11.0        2
2013-05  Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12
2013-06  Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24
2013-07  Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48
2013-08      1   0.0   0.0   9.397225   2.197225   4.0    0.0        1

         new_col1  proporation  rounded
2013-01       0.0     2.000000      1.4
2013-02       0.0     0.333333      0.0
2013-03       6.0     6.000000      6.0
2013-04       0.0     0.000000      0.0
2013-05      12.0    12.000000     12.0
2013-06      24.0    24.000000     24.0
2013-07      48.0    48.000000     48.0
2013-08       0.0     0.000000      2.2
        index    B  New      Total  log_data  newA  new_B  new_col  new_col1  \
2013-02     4  4.0  0.0  13.333333       1.0   1.0    1.0        3       0.0

         proporation  rounded
2013-02     0.333333      0.0
        index    B  New      Total  log_data  newA  new_B  new_col  new_col1  \
2013-01     4  4.0  0.0  12.786294  1.386294   4.0    2.0        0       0.0
2013-02     4  4.0  0.0  13.333333  1.000000   1.0    1.0        3       0.0
2013-03     4  4.0  6.0   6.000000  1.000000   1.0    1.0        6       6.0

         proporation  rounded
2013-01     2.000000      1.4
2013-02     0.333333      0.0
2013-03     6.000000      6.0
         index     B   New  Total  log_data  newA  new_B  new_col  new_col1  \
2013-05  Total  12.0  12.0   12.0      12.0  12.0   12.0       12      12.0

         proporation  rounded
2013-05         12.0     12.0
          B   New       Total   log_data  newA  new_B  new_col  new_col1  \
2013  107.0  90.0  153.516852  89.583519  98.0   99.0       96      90.0

      proporation  rounded
2013    92.333333     93.6

In [150]:
#The tail of a time-series df
#a = df.last("5M") #the lsat 5 months
#print a

### Working w/strings

In [152]:
#Working w/strings
#assume that df['col'] is series of strings
df['strings'] = 'aabbj'
df

,index,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded,strings
2013-01,4,4.0,0.0,12.786294,1.386294,4.0,2.0,0,0.0,2.000000,1.4,aabbj
2013-02,4,4.0,0.0,13.333333,1.000000,1.0,1.0,3,0.0,0.333333,0.0,aabbj
2013-03,4,4.0,6.0,6.000000,1.000000,1.0,1.0,6,6.0,6.000000,6.0,aabbj
2013-04,2,11.0,0.0,28.000000,0.000000,4.0,11.0,2,0.0,0.000000,0.0,aabbj
2013-05,Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0,aabbj
2013-06,Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0,aabbj
2013-07,Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0,aabbj
2013-08,1,0.0,0.0,9.397225,2.197225,4.0,0.0,1,0.0,0.000000,2.2,aabbj

In [155]:
s = df['strings'].str.lower()
print s
s = df['strings'].str.upper()
print s
s = df['strings'].str.len()
print s
df['strings'] += 'suffix' #add text to each row
df['strings'] *=2 #repeat text
print df
s = df['strings'] + df['strings'] #concatenate
print s

#Most python string fxns are replicated in the pandas df & series objects

2013-01    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-02    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-03    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-04    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-05    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-06    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-07    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-08    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
Freq: M, Name: strings, dtype: object
2013-01    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-02    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-03    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-04    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-05    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-06    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-07    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
2013-08    AABBJSUFFIXAABBJSUFFIXSUFFIXAABBJSUFFIXAABBJSU...
Freq: M, Name: strings, dtype: object
2013-01    56
2013-02    56
2013-03    56
2013-04    56
2013-05    56
2013-06    56
2013-07    56
2013-08    56
Freq: M, Name: strings, dtype: int64
         index     B   New      Total   log_data  newA  new_B  new_col  \
2013-01      4   4.0   0.0  12.786294   1.386294   4.0    2.0        0
2013-02      4   4.0   0.0  13.333333   1.000000   1.0    1.0        3
2013-03      4   4.0   6.0   6.000000   1.000000   1.0    1.0        6
2013-04      2  11.0   0.0  28.000000   0.000000   4.0   11.0        2
2013-05  Total  12.0  12.0  12.000000  12.000000  12.0   12.0       12
2013-06  Total  24.0  24.0  24.000000  24.000000  24.0   24.0       24
2013-07  Total  48.0  48.0  48.000000  48.000000  48.0   48.0       48
2013-08      1   0.0   0.0   9.397225   2.197225   4.0    0.0        1

         new_col1  proporation  rounded  \
2013-01       0.0     2.000000      1.4
2013-02       0.0     0.333333      0.0
2013-03       6.0     6.000000      6.0
2013-04       0.0     0.000000      0.0
2013-05      12.0    12.000000     12.0
2013-06      24.0    24.000000     24.0
2013-07      48.0    48.000000     48.0
2013-08       0.0     0.000000      2.2

                                                   strings
2013-01  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-02  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-03  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-04  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-05  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-06  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-07  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-08  aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-01    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-02    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-03    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-04    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-05    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-06    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-07    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-08    aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
Freq: M, Name: strings, dtype: object

In [157]:
#Regular expression
s = df['strings'].str.contains('suffix')
print s
s = df['strings'].str.startswith('aa')
print s
s = df['strings'].str.endswith('ix')
print s
s = df['strings'].str.replace('aabbj', 'cool') #('old', 'new')
print s

#Note: pandas has many more regex methods

2013-01    True
2013-02    True
2013-03    True
2013-04    True
2013-05    True
2013-06    True
2013-07    True
2013-08    True
Freq: M, Name: strings, dtype: bool
2013-01    True
2013-02    True
2013-03    True
2013-04    True
2013-05    True
2013-06    True
2013-07    True
2013-08    True
Freq: M, Name: strings, dtype: bool
2013-01    True
2013-02    True
2013-03    True
2013-04    True
2013-05    True
2013-06    True
2013-07    True
2013-08    True
Freq: M, Name: strings, dtype: bool
2013-01    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-02    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-03    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-04    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-05    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-06    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-07    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
2013-08    coolsuffixcoolsuffixsuffixcoolsuffixcoolsuffix...
Freq: M, Name: strings, dtype: object

### Working w/missing & non-finite data

In [158]:
#Working w/missing data
#Pandas uses the not-a-number construct (np.nan and float('nan')) to indicate missing data. The Python None can arise in 
#data as well. It is also treated as missing data; as is the pandas not-a-time (pd.NaT) construct

In [159]:
#Missing data in a Series
s = pd.Series([8, None, float('nan'), np.nan])
print s
print s.isnull() # --> [False, True, True, True]
print s.notnull() # --> [True, False, False, False]

0    8.0
1    NaN
2    NaN
3    NaN
dtype: float64
0    False
1     True
2     True
3     True
dtype: bool
0     True
1    False
2    False
3    False
dtype: bool

In [161]:
#Missing dta in a DataFrame
a = df.dropna() #drop all rows w/NaN
a = df.dropna(axis=1) #as above for cols
a = df.dropna(how='all') #only if all in row
a = df.dropna(thresh=2) #at least 2 NaN in row

#only drop row is NaN is a specified 'col'
#a = df.dropna(df['B'].notnull())

In [162]:
#Non-finite numbers
#W/floating point #s, pandas provides for positive & negative infinity
s = Series([float('inf'), float('-inf'), np.inf, -np.inf]) 
print s
#Pandas treats integer comparisons w/plus/minus infinity as expected

0    inf
1   -inf
2    inf
3   -inf
dtype: float64

In [163]:
#Testing for finite numbers (using the data from the pervious example)
np.isfinite(s)

0    False
1    False
2    False
3    False
dtype: bool

### Working w/Categorical Data

In [177]:
#Categorical data
#The pandas Series has an R factors-like data type for encoding categorical data into integers
#c = pd.Categorical.from_array(list)
#print c.levels # --> the coding frame
#print c.labels # --> the encoded integer array
#print c.describe # --> the values & levels

In [175]:
#Indexing categorical data
#The categorical data can be indexed in a manner conceptually similar to that for Series.iloc[] above:
listy = ['a', 'b', 'a', 'b', 'b', 'c']
c = pd.Categorical(listy)
#c.levels # --> ['a', 'b', 'c']
print c.codes # --> [0,1,0,1,1,2]
x = c[1] # --> 'b'
x = c[[0,1]] #--> ['a', 'b']
x = c[0:2]

[0 1 0 1 1 2]

In [176]:
#Categorical into df
#you cna put a column of encoded Categorical data in the df, but in the process the factor info will be los; so you will
#need to hold this factor info outside of the df
#factor = pd.Categorical.from_array(df['cat'])
#df['labels] = factor.labels #integers only
#df['cat2] = factor #converts back to string

### Basic Statistics

In [179]:
#Summary statistics
s = df['B'].describe()
print s
df1 = df.describe()
df1

count     8.000000
mean     13.375000
std      15.864943
min       0.000000
25%       4.000000
50%       7.500000
75%      15.000000
max      48.000000
Name: B, dtype: float64

,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded
count,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,13.375000,11.250000,19.189607,11.197940,12.250000,12.375000,12.000000,11.250000,11.541667,11.700000
std,15.864943,17.102631,13.771850,17.027703,16.359794,16.586892,16.570197,17.102631,16.896452,16.782985
min,0.000000,0.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.000000,11.349306,1.000000,3.250000,1.000000,1.750000,0.000000,0.250000,1.050000
50%,7.500000,3.000000,13.059814,1.791759,4.000000,6.500000,4.500000,3.000000,4.000000,4.100000
75%,15.000000,15.000000,25.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
max,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000

In [180]:
#Value counts
s = df['B'].value_counts()
print s

4.0     3
0.0     1
48.0    1
24.0    1
12.0    1
11.0    1
Name: B, dtype: int64

In [181]:
df

,index,B,New,Total,log_data,newA,new_B,new_col,new_col1,proporation,rounded,strings
2013-01,4,4.0,0.0,12.786294,1.386294,4.0,2.0,0,0.0,2.000000,1.4,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-02,4,4.0,0.0,13.333333,1.000000,1.0,1.0,3,0.0,0.333333,0.0,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-03,4,4.0,6.0,6.000000,1.000000,1.0,1.0,6,6.0,6.000000,6.0,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-04,2,11.0,0.0,28.000000,0.000000,4.0,11.0,2,0.0,0.000000,0.0,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-05,Total,12.0,12.0,12.000000,12.000000,12.0,12.0,12,12.0,12.000000,12.0,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-06,Total,24.0,24.0,24.000000,24.000000,24.0,24.0,24,24.0,24.000000,24.0,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-07,Total,48.0,48.0,48.000000,48.000000,48.0,48.0,48,48.0,48.000000,48.0,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...
2013-08,1,0.0,0.0,9.397225,2.197225,4.0,0.0,1,0.0,0.000000,2.2,aabbjsuffixaabbjsuffixsuffixaabbjsuffixaabbjsu...

In [185]:
#Cross-tabulation (frequency count)
#ct = pd.crosstab(index=df['2013-01'], df['B'])
#ct

In [187]:
#Quantiles & ranking
q = df.quantile(q=[0.05, 0.25, 0.5, 0.75, 0.95])
print q
r = df.rank()
print r

         B   New      Total   log_data   newA  new_B  new_col  new_col1  \
0.05   1.4   0.0   7.189029   0.350000   1.00   0.35     0.35       0.0
0.25   4.0   0.0  11.349306   1.000000   3.25   1.00     1.75       0.0
0.50   7.5   3.0  13.059814   1.791759   4.00   6.50     4.50       3.0
0.75  15.0  15.0  25.000000  15.000000  15.00  15.00    15.00      15.0
0.95  39.6  39.6  41.000000  39.600000  39.60  39.60    39.60      39.6

      proporation  rounded
0.05         0.00     0.00
0.25         0.25     1.05
0.50         4.00     4.10
0.75        15.00    15.00
0.95        39.60    39.60
         index    B  New  Total  log_data  newA  new_B  new_col  new_col1  \
2013-01    4.0  3.0  2.5    4.0       4.0   4.0    4.0      1.0       2.5
2013-02    4.0  3.0  2.5    5.0       2.5   1.5    2.5      4.0       2.5
2013-03    4.0  3.0  5.0    1.0       2.5   1.5    2.5      5.0       5.0
2013-04    2.0  5.0  2.5    7.0       1.0   4.0    5.0      3.0       2.5
2013-05    7.0  6.0  6.0    3.0       6.0   6.0    6.0      6.0       6.0
2013-06    7.0  7.0  7.0    6.0       7.0   7.0    7.0      7.0       7.0
2013-07    7.0  8.0  8.0    8.0       8.0   8.0    8.0      8.0       8.0
2013-08    1.0  1.0  2.5    2.0       5.0   4.0    1.0      2.0       2.5

         proporation  rounded  strings
2013-01          4.0      3.0      4.5
2013-02          3.0      1.5      4.5
2013-03          5.0      5.0      4.5
2013-04          1.5      1.5      4.5
2013-05          6.0      6.0      4.5
2013-06          7.0      7.0      4.5
2013-07          8.0      8.0      4.5
2013-08          1.5      4.0      4.5

In [189]:
#Histogram binning
#counts, bins = np.histogram(df['B']) count, bins=np.histogram(df['B'], bins=3) count, bins = np.histogram(df['B'], bins=[-3, -2, -1, 0,1,2,3,4])

In [190]:
#Correlation & covariance
df_cm = df.corr()
print df_cm
df_cv = df.cov()
print df_cv

                    B       New     Total  log_data      newA     new_B  \
B            1.000000  0.971002  0.920077  0.972692  0.980416  0.997190
New          0.971002  1.000000  0.808455  0.991982  0.984137  0.964997
Total        0.920077  0.808455  1.000000  0.830105  0.864535  0.923772
log_data     0.972692  0.991982  0.830105  1.000000  0.996384  0.971230
newA         0.980416  0.984137  0.864535  0.996384  1.000000  0.981965
new_B        0.997190  0.964997  0.923772  0.971230  0.981965  1.000000
new_col      0.977069  0.998106  0.828335  0.992470  0.984931  0.970406
new_col1     0.971002  1.000000  0.808455  0.991982  0.984137  0.964997
proporation  0.971193  0.999226  0.809259  0.992655  0.985681  0.964263
rounded      0.966667  0.998889  0.804997  0.994110  0.987428  0.961952

              new_col  new_col1  proporation   rounded
B            0.977069  0.971002     0.971193  0.966667
New          0.998106  1.000000     0.999226  0.998889
Total        0.828335  0.808455     0.809259  0.804997
log_data     0.992470  0.991982     0.992655  0.994110
newA         0.984931  0.984137     0.985681  0.987428
new_B        0.970406  0.964997     0.964263  0.961952
new_col      1.000000  0.998106     0.996509  0.996054
new_col1     0.998106  1.000000     0.999226  0.998889
proporation  0.996509  0.999226     1.000000  0.998735
rounded      0.996054  0.998889     0.998735  1.000000
                      B         New       Total    log_data        newA  \
B            251.696429  263.464286  201.027230  262.766516  254.464286
New          263.464286  292.500000  190.419345  288.883630  275.357143
Total        201.027230  190.419345  189.663849  194.662033  194.783710
log_data     262.766516  288.883630  194.662033  289.942679  277.562281
newA         254.464286  275.357143  194.783710  277.562281  267.642857
new_B        262.410714  273.750000  211.019268  274.310935  266.464286
new_col      256.857143  282.857143  189.027857  280.027857  267.000000
new_col1     263.464286  292.500000  190.419345  288.883630  275.357143
proporation  260.339286  288.750000  188.310957  285.594687  272.464286
rounded      257.385714  286.714286  186.061076  284.092505  271.114286

                  new_B     new_col    new_col1  proporation     rounded
B            262.410714  256.857143  263.464286   260.339286  257.385714
New          273.750000  282.857143  292.500000   288.750000  286.714286
Total        211.019268  189.027857  190.419345   188.310957  186.061076
log_data     274.310935  280.027857  288.883630   285.594687  284.092505
newA         266.464286  267.000000  275.357143   272.464286  271.114286
new_B        275.125000  266.714286  273.750000   270.244048  267.785714
new_col      266.714286  274.571429  282.857143   279.000000  277.000000
new_col1     273.750000  282.857143  292.500000   288.750000  286.714286
proporation  270.244048  279.000000  288.750000   285.490079  283.214286
rounded      267.785714  277.000000  286.714286   283.214286  281.668571

In [191]:
#Regression
import statsmodels.formula.api as sm
result = sm.ols(formula="B ~ New + log_data", data=df).fit()
print (result.params)
print (result.summary())

Intercept    3.193652
New          0.354819
log_data     0.552748
dtype: float64

/home/orysya/anaconda2/lib/python2.7/site-packages/scipy/stats/stats.py:1327: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=8
  "anyway, n=%i" % int(n))

                            OLS Regression Results
==============================================================================
Dep. Variable:                      B   R-squared:                       0.948
Model:                            OLS   Adj. R-squared:                  0.928
Method:                 Least Squares   F-statistic:                     46.01
Date:                Mon, 31 Oct 2016   Prob (F-statistic):           0.000603
Time:                        22:34:30   Log-Likelihood:                -21.068
No. Observations:                   8   AIC:                             48.14
Df Residuals:                       5   BIC:                             48.37
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      3.1937      1.843      1.733      0.144        -1.544     7.931
New            0.3548      0.745      0.476      0.654        -1.561     2.270
log_data       0.5527      0.748      0.739      0.493        -1.371     2.477
==============================================================================
Omnibus:                        7.869   Durbin-Watson:                   2.580
Prob(Omnibus):                  0.020   Jarque-Bera (JB):                2.344
Skew:                           1.227   Prob(JB):                        0.310
Kurtosis:                       4.004   Cond. No.                         33.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [192]:
#Smoothing example using rolling_apply
k3x5 = np.array([1,2,3,3,3,2,1]) / 15.0
s = pd.rolling_apply(df['B'], window=7, func=lambda x: (x * k3x5).sum(), min_periods=7, center=True)
print s

2013-01     NaN
2013-02     NaN
2013-03     NaN
2013-04    12.6
2013-05    16.6
2013-06     NaN
2013-07     NaN
2013-08     NaN
Freq: M, Name: B, dtype: float64

/home/orysya/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: pd.rolling_apply is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(center=True,min_periods=7,window=7).apply(args=<tuple>,func=<function>,kwargs=<dict>)
  app.launch_new_instance()